@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: var(--slate-12);
  background-color: var(--slate-1);
  transition: background-color 200ms, color 200ms;
}
